@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body{
    background-color: #ECEFF1;
    font-size: 18px;


}
.segment{
    padding: 20px;
}
.cineman{
    color: #00695C !important;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}
h1, h2{
    color: #00695C;
}
img{
    width: 215px !important;
    height: 290px !important;
    margin-left: 90px;
}
.content{
    margin-left: 200px !important;
    margin-right: 200px !important;
}
#genre,#acteur_principaux,i{
    color:#009C95 !important;
}
#titre{
    color:#54FFFF !important;
    font-size: 30px;
}