.nav_menu{
    background-color: #007F71 !important;
    padding: 5px !important;
}
.cine_menu{
    visibility: hidden !important;
}
.item{
    height: 40px !important;
}

.titre_ajt_film{
    background-color: #00b6a2;
    font-size: 20px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}
.
champtitre{
    
}
