#film{
    border-bottom-color: #54FFFF !important;
    color:#54FFFF !important;
}
#separateur-film{
    color:#009C95 !important;
}
thead>tr>th{
    background-color: #E0F2F1 !important;
}
#titre{
    color:#54FFFF !important;
    font-size: 30px;
}