@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body{
    background-color: #ECEFF1;


}
.segment{
    padding: 20px;
}
.cineman{
    color: #00695C !important;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
}
#accueil {
    border-bottom-color: #54FFFF !important;
    color:#54FFFF !important;
}

#gestion{
    margin-right: -120px;
}
#titre{
    color: #ffffff;
}
#film\ icon{
    color:#54FFFF !important;
}
#h4_gestion{
    color: #fff;
    font-size: 10px;
}