<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
-->
    <link rel="stylesheet" href="webjars/Semantic-UI/2.4.1/semantic.css">
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
    <title>Cineman</title>
</head>
<body>

<div class="ui inverted menu">
    <a class="active item">
        Accueil
    </a>
    <a class="item">
        Acteurs
    </a>
    <a class="item">
        Films
    </a>
    <a class="item">
        Ajout de film
    </a>
</div>
<h1 class="ui header">Bienvenue sur le site du cinéma le CINEMAN</h1>
<div class="html ui top attached segment">
<div class="ui special cards" >
    <div class="card" th:each="films : ${films}">
        <div class="blurring dimmable image index_img"  >
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">Add Friend</div>
                    </div>
                </div>
            </div>
            <img th:src="@{'/poster/' +${films.affiche}}">
        </div>
        <div class="content">
            <a class="header" th:text="${films.titre}">Team Fu</a>
            <div class="meta">
                <span class="date" th:text="${films.notation}">Created in Sep 2014</span>
            </div>
        </div>
        <div class="extra content" th:each="film : ${films}">
            <a th:href="'/film/film_detail/' +${film.id}">
                <i class="film icon"></i>
                Voir la fiche
            </a>
        </div>
    </div>

</div>
</div>
<!--<div class="pos-f-t">-->
    <!--<div class="collapse" id="navbarToggleExternalContent">-->
        <!--<div class="bd-example">-->
            <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
                    <!--<ul class="navbar-nav mr-auto">-->
                        <!--<li class="nav-item active">-->
                            <!--<a class="nav-link" href="#">accueil <span class="sr-only">(current)</span></a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="#">Acteurs</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" th:href="@{'/rechercher'}">Ajout d'un film</a>-->
                        <!--</li>-->
                    <!--</ul>-->
            <!--</nav>-->
        <!--</div>-->
    <!--</div>-->
    <!--<nav class="navbar navbar-dark bg-dark">-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
    <!--</nav>-->
<!--</div>-->
<!--<div class="container">-->
    <!--<h1 th:text="'Bienvenue '+${annonce}"></h1>-->
    <!--<h2> Liste des acteurs</h2>-->
    <!--<table class="table table-sm">-->
        <!--<thead>-->
        <!--<tr class="bg-info">-->
            <!--<th class="bg-info" style="; color: #fff;">id</th>-->
            <!--<th class="bg-info" style="border-left: solid 1px #ccc; color: #fff;">titre</th>-->
            <!--<th class="bg-info" style="border-left: solid 1px #ccc; color: #fff;">notation</th>-->
            <!--<th class="bg-info" style="border-left: solid 1px #ccc; color: #fff;">resume</th>-->
            <!--<th class="bg-info" style="border-left: solid 1px #ccc; color: #fff;">realisateur</th>-->
            <!--<th class="bg-info" style="border-left: solid 1px #ccc; color: #fff;">Fiche complète du film</th>-->

        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="personnes : ${personnes}">-->
            <!--<td th:text="${personnes.getId()}" style="border: solid 1px #ccc;border-right: solid 1px #ccc"></td>-->
            <!--<td th:text="${personnes.getNom()}" style="border: solid 1px #ccc">The table body</td>-->
            <!--<td th:text="${personnes.getPrenom()}" style="border: solid 1px #ccc">The table body</td>-->
            <!--<td th:text="${personnes.getNaissance()}" style="border: solid 1px #ccc; border-right: solid 1px #ccc">The table body</td>-->
            <!--<td th:text="${personnes.getAffiche()}" style="border: solid 1px #ccc;">The table body</td>-->
            <!--<td style="border: solid 1px #ccc;"><a th:href="@{'/film'}" type="button" class="btn btn-info">Info</a></td>-->

        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->
<th:block th:insert="fragments/script.html :: script"> </th:block>

</body>
</html>