<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
-->
    <link rel="stylesheet" href="webjars/Semantic-UI/2.4.1/semantic.css">
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
    <link href="../static/images/illustration/cineman_favicon.jpg" rel="icon" type="image/jpg" th:href="@{../static/images/illustration/cineman_favicon.jpg}" />
    <title>Cineman</title>
</head>
<body>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a th:href="@{/}" id="accueil" class="active item">Accueil</a>
                <a  th:href="@{/film_list}" class="item">Films</a>
                <a th:href="@{/actor_list}" class="item">Acteurs</a>
                <a class="item">Contact</a>
                <div class="right item">
                    <a class="ui inverted teal button">S'identifier</a>
                    <a style="margin-left: 10px;" class="ui inverted teal button">S'inscrire</a>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h2 class="ui center aligned icon header" id="titre"><i class="film icon" id="film icon"></i>CINEMAN </h2>
            <h2>“Le cinéma, c’est un oeil ouvert sur le monde.”</h2>
            <div class="ui inverted teal button" ><a th:href="@{/film_list}">Voir les films</a><i class="right arrow icon"></i></div>
        </div>

    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">Du cinéma est rien que du cinéma avec le CINEMAN</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam, consequuntur dicta doloremque et exercitationem fugiat hic iste laborum laudantium necessitatibus
                        nihil quos recusandae sed temporibus veritatis vero, voluptates voluptatibus?</p>
                    <h3 class="ui header">Du cinéma français mais pas que !</h3>
                    <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
                </div>
                <div class="six wide right floated column">
                    <img th:src="@{/images/illustration/cineman_favicon.jpg}" class="ui large bordered rounded image">
                </div>
            </div>

</div>
<!--<th:block th:insert="fragments/script.html :  script"> </th:block>-->

</body>
</html>