<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/Semantic-UI/2.4.1/semantic.css">
    <link href="../static/css/film_list.css" th:href="@{/css/film_list.css}" rel="stylesheet">
    <title>Liste des films</title>
</head>
<body>
<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a th:href="@{/}" class=" item">Accueil</a>
                <a  th:href="@{/film_list}" id="film" class="active item">Films</a>
                <a th:href="@{/actor_list}" class="item">Acteurs</a>
                <a class="item">Contact</a>
                <div class="right item">
                    <a class="ui inverted teal button">S'identifier</a>
                    <a style="margin-left: 10px;" class="ui inverted teal button">S'inscrire</a>
                </div>
            </div>
        </div>
</div>
    <h4 id="separateur-film" class="ui horizontal divider header">
        <i class="tag icon"></i>
        Liste des films
    </h4>
<!--<div class="ui special cards">
    <div class="card" th:each=" films : ${films}">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">Add Friend</div>
                    </div>
                </div>
            </div>
            &lt;!&ndash;<img th:src="@{'/affiche/'+ ${films.image_path}}">&ndash;&gt;
        </div>
        <div class="content" >
            <a class="header" th:text="${films.title}">Team Fu</a>
   &lt;!&ndash;         <div class="meta">
                <span class="date" th:text="${films.film_director}">Created in Sep 2014</span>
        </div>&ndash;&gt;
        </div>
        <div class="extra content">
            <i class="users icon"></i>
            <a th:text="${films.rating}">
                2 Members
            </a>
        </div>
    </div>
</div>
</div>-->
<table class="ui teal table" >
    <thead>
    <tr><th>Id</th>
        <th>titre</th>
        <th>Réalisateur</th>
        <th>Date de sortie</th>
        <th>Détail</th>
    </tr>
    </thead>
    <tbody th:each=" film : ${films}" >
    <tr>

        <td th:text="${film.id}">200</td>
        <td th:text="${film.title}">0g</td>
        <td  th:text="${film.director.givenname} +' '+ ${film.director.surname}">0g</td>
        <td th:text="${film.releaseDate}">0g</td>
        <td><button class="ui teal button">Voir la fiche de la personne</button></td>
    </tr>

    </tbody>
</table>
</div>
    <script src="webjars/Semantic-UI/2.4.1/semantic.min.js"></script>
    <script src="webjars/jquery/3.3.1/src/jquery.js"></script>
    <script src="webjars/less.js/2.7.3/dist/less.min.js"></script>

</body>
</html>