<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/Semantic-UI/2.4.1/semantic.css">    <title>Title</title>
</head>
<body>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class=" item">Accueil</a>
    <a class="active item">Films</a>
    <a class="item">Acteurs</a>
    <a class="item">Contact</a>
    <a class="item">S'identifier</a>
    <a class="item">S'inscrire</a>
</div>


<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class=" item">Accueil</a>
                <a class="active item">Films</a>
                <a class="item">Acteurs</a>
                <a class="item">Contact</a>
                <div class="right item">
                    <a class="ui inverted button">S'identifier</a>
                    <a class="ui inverted button">S'inscrire</a>
                </div>
            </div>
        </div>
</div>
    <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Liste des films
    </h4>
<div class="ui special cards">
    <div class="card" th:each=" films : ${films}">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">Add Friend</div>
                    </div>
                </div>
            </div>
            <img th:src="@{'/affiche/'+ ${films.image_path}}">
        </div>
        <div class="content" >
            <a class="header" th:text="${films.title}">Team Fu</a>
            <div class="meta">
                <span class="date" th:text="${films.film_director}">Created in Sep 2014</span>
            </div>
        </div>
        <div class="extra content">
            <i class="users icon"></i>
            <a th:text="${films.rating}">
                2 Members
            </a>
        </div>
    </div>
</div>
</div>
    <script src="webjars/Semantic-UI/2.4.1/semantic.min.js"></script>
    <script src="webjars/jquery/3.3.1/src/jquery.js"></script>
    <script src="webjars/less.js/2.7.3/dist/less.min.js"></script>

</body>
</html>