<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <th:block th:insert="fragments/head.html :: head"> </th:block>
    <link href="../static/css/index.css" th:href="@{/css/film_detail.css}" rel="stylesheet">

    <title>Title</title>
    
</head>
<body>
<div class="ui inverted menu">
      </a>
    <a class="item cineman">
        <i class="film icon"></i>  CINEMAN
    </a>
    <a class="item">
        Accueil
    </a>
    <a class="item">
        Acteurs
    </a>
    <a class="item">
        Films
    </a>
    <a class="item">
        Ajout de film
    </a>
</div><!--
  <div class="ui grid">
        <div class="three wide column" th:each="film : ${film}">
            <img class="ui wireframe image" th:src="@{'/poster/' +${film.affiche}">    
        </div><!--
        -->
<!--        <div class="ten wide column">
            <span th:text="${film.notation}"></span>
        </div>-->
<!--    </div>
-->
<div class="ui internally celled grid" >
  <div class="row">
    <div class="three wide column" th:each="film : ${film}">
      <img th:src="@{'/poster/' +${film.getImage_path()}}">
    </div>
    <div class="ten wide column">
        <h1 th:text="${film.title}"></h1>
        <h3 th:text="${'Note : '+film.rating}"></h3><!--
-->        <h3 th:each="genre:${film.getGenreFilm()}" th:text="'Genre : '+${genre.name}"></h3>
        <h2>Résumé du film : </h2>
      <p th:text="${film.summary}"></p>
    </div>

  </div>
</div>


<th:block th:insert="fragments/script.html :: script"> </th:block>
</body>
</html>