<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/Semantic-UI/2.4.1/semantic.css">
    <link href="../static/css/film_form.css" th:href="@{/css/film_form.css}" rel="stylesheet">

    <title>Title</title>
</head>
<body>
<div class="ui stackable menu nav_menu">
 <h1>Gestionnaire</h1>
</div>
<div class="ui grid">
    <div class="ui vertical menu">
            <div class="ui accordion">
                <div class="title  transition visible " >
                    <i class="dropdown icon"></i>
                    Films
                </div>
                <div class="content">
                    <div class="ui middle aligned animated list transition hidden">
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Ajouter un film</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Liste des films</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Affiches</a></div>
                            </div>
                        </div>
                    </div>    </div>
                <div class="title  transition visible " >
                    <i class="dropdown icon"></i>
                    Genre
                </div>
                <div class="content">
                    <div class="ui middle aligned animated list transition hidden">
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Ajouter un genre</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Liste des genre</a></div>
                            </div>
                        </div>
                    </div>    </div>
                <div class="title  transition visible " >
                    <i class="dropdown icon"></i>
                    Role
                </div>
                <div class="content">
                    <div class="ui middle aligned animated list transition hidden">
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Ajouter un role</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Liste des roles</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Photos</a></div>
                            </div>
                        </div>
                    </div>    </div>
                <div class="title  transition visible " >
                    <i class="dropdown icon"></i>
                    Compte utilisateur
                </div>
                <div class="content">
                    <div class="ui middle aligned animated list transition hidden">
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Inscription</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="content">
                                <div class="header"><a class="item">Connexion</a></div>
                            </div>
                        </div>
                    </div>    </div>
        </div>
    </div>
    <div class="twelve wide stretched column">

        <form class="ui form">
            <div class="grid">

                <h1 class="item titre_ajt_film titre">Ajouter un film </h1>

            </div>
            <div class="field">
                <h3 class="ui dividing header">Inserer les détails du film</h3>
                <label>Titre</label>
                <div class="two fields">

                        <input type="text" class="champtitre" name="shipping[first-name]" placeholder="First Name">
    </div>
            </div>
                    <div class="field">
                        <label> Date de sortie</label>
                        <div class="two fields">
                        <input type="text" class="champdate" name="shipping[first-name]" placeholder="First Name">
    </div>
                    </div>
            <div class="field">
                <label> Réalisateur</label>
                <div class="two fields">
                    <input type="text" class="champreal" name="shipping[first-name]" placeholder="First Name">
                </div>
            </div>
            <div class="field">
                <label> Genre</label>
                <div class="two fields">
                    <select class="ui fluid dropdown champgenre">
                        <option value="">genre</option>
                    </select>

                </div>

            </div>

            <div class="field">
                <label> Affiche</label>
                <div class="two fields">
                    <input type="file" class="champtitre" name="shipping[first-name]" placeholder="First Name">
                </div>
            </div>
            <div class="field">
                <label> Note</label>
                <div class="two fields">
                    <input type="number" class="champtitre" name="shipping[first-name]" placeholder="First Name">
                </div>
            </div>
            <div class="field">
                <label> Résumé du film</label>
                <div class="two fields">
                    <textarea  class="champtitre" name="shipping[first-name]" placeholder="First Name"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="two fields">
                    <button class="ui teal button">Ajouter</button>
            </div>
            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script>
    $('.ui.accordion')
        .accordion()
    ;
    $('.trigger.example .accordion')
        .accordion({
            selector: {
                trigger: '.title .icon'
            }
        })
    ;
</script>
</body>
</html>
